@{
    ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/_LayoutCustom.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.1/jquery.toast.css" />
<div class="container-fluid">
    <div class="slider">
        <div class="row no-gutter">
            <div class="col-md-12">
                <img src="/img/slider2.jpg" class="animated fadeInUp" alt="" img-responsive>
            </div>
        </div>
    </div>
</div>
<!--        slider-->

@*<div id="slider">
    <div data-velocity="-.2" class="overlay-bg slide-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="typed-js">
                                               <h3>Welcome To Easy Home</h3>
                    <div id="typed-strings">
                        <p>Connect your devices to <font color="#000">Internet</font></p>
                        <p>Control devices from <font color="#000">Anywhere</font></p>
                        <p>Check device status from <font color="#000">Anywhere</font></p>
                    </div>
                    <span id="typed"></span>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- End slider -->
<!--        info-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="info">
                <img src="/img/icon/info.png" alt="">
                <p>Easy Home is an internet based home automation system which improves the quality of the resident’s life by facilitating a flexible and safe environment. It will give you the control of your home appliance from anywhere you are <a href=""><font color="#f15a39"> more...</font></a></p>
            </div>
        </div>
    </div>
</div>

<!--        end of info-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h4>How It Works</h4>
            </div>
        </div>
    </div>
    <div class="feature-holder">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature hvr-grow">
                    <div class="feature-icon">
                        <img src="/img/icon/setup.png" alt="">
                    </div>
                    <h5>Setup the system</h5>
                    <p>
                        Setup the Home Appliance Control
                        System in your home to gain
                        control over your devices
                    </p>
                </div>
                </div>
            @*</div>*@
            <div class="col-md-4 col-sm-6">
                <div class="feature hvr-grow">
                    <div class="feature-icon">
                        <img src="/img/icon/manage-profile.png" alt="">
                    </div>
                    <h5>Manage your profile</h5>
                    <p>
                        Create your profile on our website
                        to list your connected devices to configure
                        and manage them
                    </p>
                </div>
                </div>
            @*</div>*@
    <div class="col-md-4 col-sm-6">
        <div class="feature hvr-grow">
            <div class="feature-icon">
                <img src="/img/icon/control-devices.png" alt="">
            </div>
            <h5>Control your devices</h5>
            <p>Now you have the controls in your hand. Use our website to view and control your devices from anywhere.</p>
        </div>
    </div>
        </div>
    </div>
</div>

<div class="demo-video-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4>Watch A Demo</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="demo-video">
                <div class="col-md-4">
                    <div class="video-info">
                        <h3><i class="icofont icofont-play-alt-1"></i>&nbsp;Watch a demo video of our project</h3>
                        <p>This video demonstrates what the whole idea is. It will show the project actually works. It will also show the techniques to use Easy Home</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="video">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5DdTJa-crT8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--        demo video ends here-->
<div class="service-logos-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h4>Technologies Used</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="service-logos">
                    <ul>
                        <li><img src="/img/Raspberry_Pi_Logo.png" alt="" class="hvr-float-shadow" title="Raspberry Pi 3 B"></li>
                        <li><img src="/img/raspbian_logo.png" alt="" class="hvr-float-shadow" title="Raspbian OS"></li>
                        <li><img src="/img/apache_webserver_logo.png" alt="" class="hvr-float-shadow" title="Apache Webserver"></li>
                        <li><img src="/img/python-logo.png" alt="" class="hvr-float-shadow" title="Python"></li>
                        <li><img src="/img/json_logo.png" alt="" class="hvr-float-shadow" title="JSON"></li>
                        <li><img src="/img/asp_dot_net_logo.png" alt="" class="hvr-float-shadow" title="ASP Dot Net"></li>
                        <li><img src="/img/web_logo.png" alt="" class="hvr-float-shadow" title="World Wide Web"></li>
                        <li><img src="/img/android_logo.png" alt="" class="hvr-float-shadow" title="Android"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="section-title">
                <h4>The Team</h4>
            </div>
        </div>
    </div>
</div>

<div class="parallax">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="team">
                <div class="container">
                    <div class="owl-carousel owl-theme">
                        <div class="team-member-details">
                            <img class="team-member-portrait" src="/img/team-members/mustak-ahmed.jpg" alt="">
                            <h4>Mustak Ahmed</h4>
                            <p>Lead Developer</p>
                            <h5><i>Backend, Hardware</i></h5>

                        </div>
                        <div class="team-member-details ">
                            <img class="team-member-portrait" src="/img/team-members/shahinul-islam.jpg" alt="">
                            <h4>Shahinul Islam</h4>
                            <p>Web Developer</p>
                            <h5><i>Database, Hardware</i></h5>

                        </div>
                        <div class="team-member-details">
                            <img class="team-member-portrait" src="/img/team-members/arif-hossain.jpg" alt="">
                            <h4>Arif Hossain</h4>
                            <p>Designer</p>
                            <h5><i>UI/UX, Frontend, Hardware</i></h5>

                        </div>
                        <div class="team-member-details">
                            <img class="team-member-portrait" src="/img/team-members/sk-mishu.jpg" alt="">
                            <h4>Satyajit Kar</h4>
                            <p>Android Developer</p>
                            <h5><i>Android, Backend, Hardware</i></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="contact-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title footer-title">
                            <h4>Send Your Queries</h4>
                        </div>
                    </div>
                    @using (Html.BeginForm("Question", "Home", null, FormMethod.Post, new {role = "form", @id = "QuestionForm"}))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-style-8">
                                <form>
                                    <div class="col-md-6">
                                        <input type="text" name="Name" required placeholder="Name"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" name="Email" required placeholder="Email"/>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea placeholder="Message" name="Message" required onkeyup=" adjust_textarea(this) "></textarea>
                                    </div>
                                    <div class="hvr-float-shadow">
                                        <input type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.1/jquery.toast.js"></script>
    <script>
        $(function() {

            @if (Convert.ToInt32(TempData["result"])==1)
            {
                <text>
            $.toast({
                text: '<p style="font-size: 15px">Your message has been sent successfully.</p>',
                showHideTransition: 'fade',
                allowToastClose: false,
                showHideTransition: 'plain',
                position: 'top-left',
                loaderBg: '#0399ef',
                hideAfter: 2000,
                icon: 'success'

            });

            </text>
            }


        });
    </script>



   
}


